<div class="p-article-list">
<% @published_posts.limit(20).each do |post| %>
<article class="p-article-list__item">
<div class="p-article-list__content p-layout-article">
<div class="p-layout-article__content">
<a href="/<%= post.category.slug.slug %>" class="c-link-category" style="background: <%= post.category.color %>"><%= post.category.name %></a>
<h2 class="p-layout-article__header"><a href="/<%= post.category.slug.slug %>/<%= post.postname %>" class="p-layout-article__link"><%= post.title %></a></h2>
<p class="p-layout-article__desc"><%= post.post_option.description %></p>
</div>
<% if post.post_option.thumbnail_image_id %>
<div class="p-layout-article__media">
<%= image_tag Medium.find(post.post_option.thumbnail_image_id).url, {alt: '', class: 'p-layout-article__image'} %>
</div>
<% end %>
</div>
<p class="p-article-list__published"><%= l post.published_at, format: :date %></p>
<div class="p-article-list__tag">
<ul class="p-linklist-tags">
<% post.tags.each do |tag| %>
<li class="p-linklist-tags__item"><a href="/<%= tag.slug.slug %>" class="p-linklist-tags__link"><%= tag.name %></a></li>
<% end %>
</ul>
</div>
</article>
<% end %>
</div>
