<div class="admin-login-wrap">
    <h1 class="admin-heading-hidden"><span class="admin-heading-hidden__text">Login</span></h1>
    <div class="admin-login-image">
        <%= image_tag 'logo-with-name-02.svg', {class: 'admin-login-image__media', alt: "S''Presso", width: 124, height: 150, decoding: 'async'} %>
    </div>
    <div class="admin-login-wrap__inner">
        <%= form_with(scope: :login, url: admin_login_path, class: 'js-form-validate') do |form| %>
            <div class="admin-form-group">
                <%= form.label :email, 'メールアドレス', {class: 'admin-form-label'} %>
                <%= form.text_field :email, {class: 'admin-form-title-input', required: true, 'data-validate-type': 'mail'} %>
            </div>
            <div class="admin-form-group">
                <%= form.label :password, 'パスワード', {class: 'admin-form-label'} %>
                <%= form.password_field :password, {class: 'admin-form-title-input', required: true} %>
            </div>
            <div class="admin-buttons admin-buttons--end">
                <%= form.submit 'ログイン', {class: 'admin-button-submit'} %>
            </div>
        <% end %>
    </div>
    <p class="admin-login-text"><a href="/" class="admin-login-text__back">ブログTOPへ戻る</a></p>
</div>

