<% keyword = params[:keyword] %>

<nav class="p-nav-breadcrumbs">
<ol class="p-nav-breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
<li class="p-nav-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a href="/" rel="home" class="p-nav-breadcrumbs__link" itemprop="item"><span itemprop="name">Home</span><meta itemprop="position" content="1"></a></li>
<li class="p-nav-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a href="/search"  aria-current="page" class="p-nav-breadcrumbs__link" itemprop="item"><span itemprop="name">検索結果</span><meta itemprop="position" content="2"></a></li>
</ol>
</nav>

<% if keyword.nil? %>
<div class="p-heading-lv1">
<h1 class="p-heading-lv1__title" itemprop="headline">検索</h1>
</div>

<div class="p-text">
<p class="c-text">検索欄にキーワードを入力して検索してみてください。</p>
<p class="c-text"><%= @published_posts.length %>件の記事からキーワードにマッチする記事を表示します。</p>
</div>
<% else %>
<div class="p-heading-lv1">
<h1 class="p-heading-lv1__title">キーワード: <%= keyword == '' ? '未入力' : keyword %></h1>
</div>

<div class="p-article-list">
<% if @posts.nil? || @post_count.zero? %>
<div class="p-text">
<p class="c-text"><%= keyword == '' ? 'キーワードを入力し、再度検索を実行してみてください。' : 'キーワードにマッチする記事が見つかりませんでした。'%></p>
</div>
<% else %>
<%= render partial: '_includes/article-list' %>
<% end %>
</div>

<%= pagination(@post_count, @per_page, @current_page, request.fullpath) %>
<% end %>
