<% isFuture = @post.status == 'publish' && DateTime.parse(@post.published_at.to_s) >= DateTime.now %>
<h1 class="admin-heading-lv1">Edit Post</h1>

<div class="admin-form-layout-post">
    <div class="admin-form-layout-post__inner">
        <%= form_with(model: @post, url: admin_post_path, method: 'patch', class: 'admin-form-layout-post__main js-form-validate', id: 'post_edit', multipart: true, builder: WithErrorFormBuilder) do |form| %>
            <%= hidden_field_tag :post_id, @post.id %>
            <%= hidden_field_tag 'current_user_id', session[:user_id] %>
            <div class="admin-form-layout-post__form">
                <div class="admin-form-group">
                    <%= form.text_field :title, {required: true, title: '記事タイトル', placeholder: 'タイトルを入力', class: 'admin-form-title-input', value: @post.title} %>
                </div>
                <div class="admin-form-group admin-form-group--closely">
                    <label for="post_postname" class="admin-form-label-bold">パーマリンク</label>
                    <p class="admin-form-label-inline"><%= request.base_url %>/<%= Category.find(@post.category_id).term.slug %>/<span class="admin-form-label-inline__item"><%= form.text_field :postname, {required: true, class: 'admin-form-min-input', 'data-validate-type': 'alphaWithDelimiter', value: @post.postname} %></span></p>
                </div>
                <div class="admin-form-group">
                    <%= form.select :category_id, Category.all.map{|category|[category.name, category.id]}, {include_blank: '未分類', selected: @post.category_id}, {required: true, class: 'admin-form-select__input'} %>
                </div>
                <div class="admin-form-group">
                    <ul id="post_tag" class="admin-form-selectable-group">
                        <% Tag.all.each do |tag| %>
                            <li class="admin-form-selectable-group__item"><label class="admin-form-checkbox"><%= form.check_box :tag, {multiple: true, checked: @post.tags.map(&:id).include?(tag.id), class: 'admin-form-checkbox__input', id: "tag-#{tag.id}"}, tag.id, nil %><span class="admin-form-checkbox__label"><%= tag.name %></span></label></li>
                        <% end %>
                    </ul>
                </div>
                <div class="admin-form-group admin-form-group--withTool js-editor-tool">
                    <%= form.text_area :content, {required: true, class: 'admin-form-content-textarea', title: '記事内容'} %>
                </div>
            </div>

            <div class="admin-form-layout-post__form">
            <h2 class="admin-heading-lv2">Post Options</h2>
                <dl class="admin-form-table">
                    <div class="admin-form-table__item">
                        <dt class="admin-form-table__title">
                            <%= form.label :thumbnail_id, 'Thumbnail', {class: 'admin-form-label'} %>
                        </dt>
                        <dd class="admin-form-table__desc">
                            <%= form.select :thumbnail_id, Medium.all.map{|medium|[medium.name, medium.id, {selected: !@post.thumbnail.nil? && medium.id == @post.thumbnail.id, data: {source: medium.url}}]}, {include_blank: '未指定'}, {class: 'admin-form-select__input js-linkage-select', 'data-href': '#modal-media-uploader-02'} %>
                            <div class="admin-form-preview-image">
                                <%= image_tag @post.thumbnail.url unless @post.thumbnail.nil? %>
                            </div>
                        </dd>
                    </div>
                    <%= form_with(model: @option, url: '', builder: WithErrorFormBuilder) do |form| %>
                        <div class="admin-form-table__item">
                            <dt class="admin-form-table__title">
                                <%= form.label :description, 'Description', {class: 'admin-form-label'} %>
                            </dt>
                            <dd class="admin-form-table__desc">
                                <%= form.text_area :description, {class: 'admin-form-textarea', value: @option.description, 'data-validate-type': 'max:160'} %>
                            </dd>
                        </div>
                        <div class="admin-form-table__item">
                            <dt class="admin-form-table__title">
                                <%= form.label :canonical, 'Canonical', {class: 'admin-form-label'} %>
                            </dt>
                            <dd class="admin-form-table__desc">
                                <%= form.text_field :canonical, {class: 'admin-form-input', value: @option.canonical, 'data-validate-type': 'url'} %>
                            </dd>
                        </div>
                        <div class="admin-form-table__item">
                            <dt class="admin-form-table__title">
                                <span class="admin-form-label">Noindex</span>
                            </dt>
                            <dd class="admin-form-table__desc">
                                <ul class="admin-form-selectable-group">
                                    <li class="admin-form-selectable-group__item"><label class="admin-form-radio"><%= form.radio_button :noindex, true, {required: true, class: 'admin-form-radio__input', checked: @option.noindex == true} %><span class="admin-form-radio__label">TRUE</span></label></li>
                                    <li class="admin-form-selectable-group__item"><label class="admin-form-radio"><%= form.radio_button :noindex, false, {required: true, class: 'admin-form-radio__input', checked: @option.noindex != true} %><span class="admin-form-radio__label">FALSE</span></label></li>
                                </ul>
                            </dd>
                        </div>
                        <div class="admin-form-table__item">
                            <dt class="admin-form-table__title">
                                <span class="admin-form-label">Nofollow</span>
                            </dt>
                            <dd class="admin-form-table__desc">
                                <ul class="admin-form-selectable-group">
                                    <li class="admin-form-selectable-group__item"><label class="admin-form-radio"><%= form.radio_button :nofollow, true, {required: true, class: 'admin-form-radio__input', checked: @option.nofollow == true} %><span class="admin-form-radio__label">TRUE</span></label></li>
                                    <li class="admin-form-selectable-group__item"><label class="admin-form-radio"><%= form.radio_button :nofollow, false, {required: true, class: 'admin-form-radio__input', checked: @option.nofollow != true} %><span class="admin-form-radio__label">FALSE</span></label></li>
                                </ul>
                            </dd>
                        </div>
                    <% end %>
                </dl>
            </div>
        <% end %>
        <div class="admin-form-layout-post__side">
            <div class="admin-form-layout-post__box">
                <dl class="admin-desc-list">
                    <div class="admin-desc-list__item">
                        <dt class="admin-desc-list__title">投稿ステータス</dt>
                        <dd class="admin-desc-list__desc">
                            <div class="admin-form-select admin-form-select--status">
                                <select class="admin-form-select__input js-associate-hidden" name="post[status]" form="post_edit">
                                    <% ['publish', 'future', 'private', 'draft'].each do |status| %>
                                        <option value="<%= status %>" <%= (isFuture && status == 'future') || (!isFuture && status == @post.status) ? ' selected' : '' %>><%= status.capitalize %></option>
                                    <% end %>
                                </select>
                            </div>
                        </dd>
                    </div>
                    <div class="admin-desc-list__item">
                        <dt class="admin-desc-list__title">公開日時</dt>
                        <dd class="admin-desc-list__desc">
                            <span class="js-associate-hidden__element"><%= @post.status != 'publish' ? '---' : (l @post.published_at) %></span>
                            <div class="admin-form-datetime-group js-associate-hidden__element" data-visible-value="future">
                                <input type="date" name="post[date]" class="admin-form-date" form="post_edit" pattern="\d{4}-\d{2}-\d{2}" value="<%= isFuture ? format("%02d-%02d-%02d", @post.published_at.year, @post.published_at.month, @post.published_at.day) : '' %>" required>
                                <div class="admin-form-select-date">
                                    <select name="post[hour]" class="admin-form-select-date__input" form="post_edit" required>
                                        <% 24.times do |time| %>
                                        <option value="<%= time %>"<%= isFuture && time == @post.published_at.hour ? ' selected' : '' %>><%= time %></option>
                                        <% end %>
                                    </select>
                                    <span class="admin-form-select-date__text">時</span>
                                </div>
                                <div class="admin-form-select-date">
                                    <select name="post[munite]" class="admin-form-select-date__input" form="post_edit" required>
                                        <% 0.step(55, 5) do |minute| %>
                                        <option value="<%= minute %>"<%= isFuture && minute == @post.published_at.min ? ' selected' : '' %>><%= minute %></option>
                                        <% end %>
                                    </select>
                                    <span class="admin-form-select-date__text">分</span>
                                </div>
                            </div>
                        </dd>
                    </div>
                    <div class="admin-desc-list__item">
                        <dt class="admin-desc-list__title">最終更新日</dt>
                        <dd class="admin-desc-list__desc"><%= l @post.updated_at %></dd>
                    </div>
                </dl>

                <div class="admin-buttons admin-buttons--end">
                    <%= button_to 'delete', admin_post_path(post_id: @post.id), {method: 'delete', class: 'admin-button-submit admin-button-submit--secondary'} %>
                    <button type="submit" class="admin-button-submit" form="post_edit" name="commit">Update</button>
                </div>
            </div>
            <div class="admin-form-layout-post__box u-noscriptNone">
                <%= render '_includes/admin/form-helper' %>
            </div>
        </div>
    </div>
</div>

<%= render partial: '_includes/admin/media-uploader-modals' %>
