<% @posts.each do |post| %>
<article class="p-article-list__item" itemscope itemtype="https://schema.org/BlogPosting">
<div class="p-article-list__content p-layout-article">
<div class="p-layout-article__content">
<a href="/<%= post.category.term.slug %>" class="c-link-category" style="background: <%= post.category.color %>"><span itemprop="keywords"><%= post.category.name %></span></a>
<h2 class="p-layout-article__header" itemprop="headline"><a href="/<%= post.category.term.slug %>/<%= post.postname %>" rel="bookmark" class="p-layout-article__link" itemprop='mainEntityOfPage'><%= post.title %></a></h2>
<p class="p-layout-article__desc"><%= post.post_option.description %></p>
</div>
<% unless post.thumbnail.nil? %>
<% image_size = MiniMagick::Image.new(Rails.root.join('public', post.thumbnail.image.url.to_s[1..-1])).dimensions %>
<div class="p-layout-article__media" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
<noscript class="loading-lazy">
<%= image_tag post.thumbnail.image.url, {alt: '', class: 'p-layout-article__image', decoding: 'async', loading: 'lazy', width: image_size[0], height: image_size[1]} %>
</noscript>
<meta itemprop="url" content="<%= "#{post.thumbnail.image.url}" %>">
<meta itemprop="width" content="<%= image_size[0] %>">
<meta itemprop="height" content="<%= image_size[1] %>">
</div>
<% end %>
</div>
<p class="p-article-list__published" itemprop="datePublished dateModified" datetime="<%= l post.published_at, format: :hyphenation %>" content="<%= l post.published_at, format: :hyphenation %>"><%= l post.published_at, format: :date %></p>
<div class="p-article-list__tag">
<ul class="p-linklist-tags">
<% post.tags.each do |tag| %>
<li class="p-linklist-tags__item"><a href="/<%= tag.term.slug %>" class="p-linklist-tags__link"><span itemprop="keywords"><%= tag.name %></span></a></li>
<% end %>
</ul>
</div>

<div class="u-display-none" itemprop="author" itemscope itemtype="https://schema.org/Person" hidden>
<meta itemprop="name" content="<%= post.user.display_name %>">
</div>

<div class="u-display-none" itemprop="publisher" itemscope itemtype="https://schema.org/Organization" hidden>
<div class="u-display-none" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject" hidden>
<meta itemprop="url" content="/images/publisher-logo.png">
</div>
<meta itemprop="name" content="<%= @settings.site_name %>">
</div>
</article>
<% end %>