<div class="l-nav js-toggle-menu__content">
<div class="l-nav__inner">
<nav class="p-nav" aria-labelledby="nav-main">
<div class="p-heading-hidden">
<h2 id="nav-main" class="p-heading-hidden__title">メインメニュー</h2>
</div><!-- /.p-heading-hidden -->

<form method="get" action="/search" class="p-form-search u-wideNone">
<div class="c-form-min-search">
<input type="text" name="keyword" class="c-form-min-search__input" placeholder="Search in site" title="Search in site">
<button type="submit" class="c-form-min-search__submit"><span class="u-altText">検索</span></button>
</div><!-- /.c-form-min-search -->
</form><!-- /.p-form-search -->

<div class="p-nav-item">
<div class="p-heading-weak">
<h2 class="p-heading-weak__title">Categories</h2>
</div><!-- /.p-heading-weak -->

<div class="p-linklist-category">
<ul class="p-linklist-category__list">
<% Category.eager_load(:term).preload(:posts).order(:name).each do |category| %>
<% next if @published_posts.where('category_id = ?', category).length.zero? %>
<li class="p-linklist-category__item"><span class="p-linklist-category__mark" style="background: <%= category.color %>"></span><a href="/<%= category.term.slug %>" class="p-linklist-category__link"><%= category.name %></a></li>
<% end %>
</ul>
</div><!-- /.p-linklist-category -->
</div><!-- /.p-nav__item -->

<div class="p-nav-item">
<div class="p-heading-weak">
<h3 class="p-heading-weak__title">Tags</h3>
</div><!-- /.p-heading-weak -->

<div class="p-linklist-tag">
<ul class="p-linklist-tag__list">
<% Tag.eager_load(:term).preload(:posts).order(:name).each do |tag| %>
<% next if tag.posts.where('status = ? and published_at <= ?', 'publish', DateTime.now).length.zero? %>
<li class="p-linklist-tag__item"><a href="/<%= tag.term.slug %>" class="p-linklist-tag__link"><%= tag.name %></a></li>
<% end %>
</ul>
</div><!-- /.p-linklist-category -->
</div><!-- /.p-nav__item -->
</nav><!-- /.p-nav -->
</div><!-- /.l-nav__inner -->
</div><!-- /.l-nav -->
