<% randomString = (0...12).map{ ('0'..'z').to_a[rand(26)] }.join.downcase %>
<h1 class="admin-heading-lv1">Add New User</h1>

<div class="admin-form-layout-terms">
<div class="admin-form-layout-terms__inner">
<%= form_with(model: @user, url: admin_user_confirm_path, class: 'admin-form-layout-terms__main js-form-validate', id: 'user_create') do |form| %>
<%= form.hidden_field :password, value: randomString %>
<%= form.hidden_field :password_confirmation, value: randomString %>
<div class="admin-form-group">
<%= form.label :name, 'ユーザー名', {class: 'admin-form-label'} %>
<%= form.text_field :name, {required: true, class: 'admin-form-input', 'data-validate-type': 'alphaWithDelimiter,max:15'} %>
</div>
<div class="admin-form-group">
<%= form.label :email, 'メールアドレス', {class: 'admin-form-label'} %>
<%= form.text_field :email, {required: true, class: 'admin-form-input', 'data-validate-type': 'mail'} %>
</div>
<div class="admin-button">
<%= form.submit 'Create User', {class: 'admin-button-submit'} %>
</div>
<% end %>
</div>
</div>
